.zoeken{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.zoeken input{
    background-color: inherit;
    border: 1px solid black;
    text-align: center;
    font-size: 1rem;
    border-radius: 20px;
}

.zoeken input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.zoeken input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

.zoeken input::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}