body{
    margin: 0px;
    display: flex;
}

body > .sidebar{
    width: 20vw;
    height: 100vh;
}

body > .zoeken{
    width: 80vw;
    height: 100vh;
}

body > .block_grid{
    width: 80vw;
    height: 100vh;
}