.sidebar{
    background-color: black;
    display: grid;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3rem;
    box-sizing: border-box;
    justify-items: center;
    overflow-y: scroll;
}

.sidebar > div{
    background-color: white;
    width: 100%;
    aspect-ratio: 1/1;
}

.sidebar::-webkit-scrollbar
{
    display: none;
}